<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='create_room.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Discord clone</title>
</head>
<body>
<div id="container">
    <h1>Create Room</h1>
    <h3>{{ message }}</h3>
    <form method="post">
        <label class="textHead">Room Name:</label>
        <input type="text" name="room_name" class = "userInputs">
        <br>
        <label class="textHead">Members:</label>
        <input type="text" name="members" class = "userInputs">
        <br>
        <button type="submit" class="btnDesign">Submit</button>
    </form>
</div>
</body>
</html>