<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title> Discord Clone </title>
</head>
<body>
<div id = "container">
    <h1> Login </h1>
    <h3> {{ message }} </h3>
    <form method="post" action="/login">
        <label class="textHead">USERNAME</label>
        <input type = "text" name = "username" class = "userInputs">
        <br>

        <label class="textHead">PASSWORD</label>
        <input type = "password" name = "password" class = "userInputs" >
        <br>
        
        <button type = "submit" class="btnDesign">Login</button>
        <p>Need an account? <a href ="signup">Register</a></p>
    </form>
</div>
</body>
</html>