body{
    background-color: #36393E;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    background-color: #282B30;
    border-radius: 7px;
    width: 75vh;
    height: 50vh;
    top:15vh;
    margin: auto;
}

label,input{
    display: flex;
    
}

.userInputs{
    position: relative;
    left: 25vh;
    background-color: #36393E;
    border-radius: 7px;
    height: 3vh;
    width: 24vh;
    color: white;
    font-size: 15px;
}

.textHead{
    position: relative;
    left: 25vh;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 1vh
}

.btnDesign{
	position: relative;
	width: 25vh;
	height: 3em;
	color: white;
	font-weight: 750;
	background-color: #7289da;
	border: 2px solid #637cd6;
	border-radius: 7px;
}

a{
    color:#7289da;
    text-decoration: none;
}

.btnDesign:hover{
    background-color: #637cd6;
}
a:hover{
    color: #637cd6;
}

h1{
    padding-top: 1vh;
}