body {
    background-color: #36393E; 
    color: white;
    font-family: sans-serif; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1, h3 {
    color: white; 
}


#messages {
    background-color: #282B30; 
    width: 90%;
    max-width: 800px;
    padding: 10px;
    border-radius: 7px;
    overflow-y: auto; 
    height: 300px;
    margin-bottom: 20px;
}

#messages div {
    padding: 5px;
    border-bottom: 1px solid #36393E; 
}


#message_input_form {
    width: 90%;
    max-width: 800px;
    display: flex;
    margin-bottom: 20px;
}

#message_input {
    flex: 1;
    padding: 8px;
    border: 1px solid #555; 
    background-color: #282B30; 
    color: white; 
    border-radius: 7px;
}

button {
    padding: 10px 20px;
    background-color: #7289da;
    color: white;
    border: none;
	border-radius: 7px;
    transition: background-color 0.3s;
}
.btnDesign{
    border: 2px solid #637cd6;
    display: inline-block;
    position: flex;
}

.delete-button{
    background-color: #282B30; 
    font-size: 7px;
    margin-left: 2vh;
}

button:hover {
    background-color: #637cd6;
}

.delete-button:hover{
    background-color: #981b1b;
}
.btns{
    display: inline-block;
    position: flex;
}
#backbtn{
    display: inline-block;
    position: flex;
    background-color: #981b1b;
    border-color: #8d1919;

}
#backbtn:hover{
    background-color: #8d1919;
}

#editbtn{
    display: inline-block;
    position: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 800px;
}

li {
    background: #242424;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
