body{
    background-color: #36393E;
    font-family: sans-serif;
    color: white;
}
label,input{
    display: flex;
}

.tbHead{
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.btnDesign{
	position: relative;
	width: 5em;
	height: 3em;
	color: white;
	font-weight: 750;
	background-color: #36393E;
	border-radius: 7px;
}
